<h3 style="text-align: center">Edit Student Information</h3>
<h5 class="error" style="text-align: center"><%= flash[:error] %></h5>
<form action="/students/<%= @student.id %>" method="POST">
    <input type="hidden" name="_method" value="put"/>
    <p><span class="required">*</span><span class="normal"> Student ID : </span><input type="text" name="id" placeholder="( Format: 7 Digit ID )" value="<%= @student.id %>" readonly="readonly"/></p>
    <p><span class="required">*</span><span class="normal"> First Name : </span><input type="text" name="firstname" value="<%= @student.firstname %>"/></p>
    <p><span class="required">*</span><span class="normal"> Last Name : </span><input type="text" name="lastname" value="<%= @student.lastname %>"/></p>
    <p><span class="required">*</span><span class="normal"> Gender : </span><input type="text" name="gender" placeholder="( Format: Male / Female )" value="<%= @student.gender %>"/></p>
    <p><span class="required">*</span><span class="normal"> Birthday : </span><input type="text" name="birthday" placeholder="( Format: MM/DD/YYYY )" value="<%= @student.birthday %>"/></p>
    <p><span class="required">*</span><span class="normal"> Address : </span><input type="text" name="address" value="<%= @student.address %>"/></p>
    <p><span class="required">*</span><span class="normal"> Email : </span><input type="text" name="email" placeholder="( Format: ?@?.com )" value="<%= @student.email %>"/></p>
    <p><span class="required">*</span><span class="normal"> Phone Number : </span><input type="text" name="phonenumber" placeholder="( Format: ?-?-? )" value="<%= @student.phonenumber %>"/></p>
    <p>GPA : <input type="text" name="gpa" placeholder="( Optional )" value="<% if @student.gpa != '( None )' %><%= @student.gpa %><% end %>"/></p>
    <center>
        <button type="submit" name="save" style="width: 100px">Save</button>
    </center>
</form>